<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>player</title>
</head>
<body>
<%= data.player %>
<h2><%= data[0].name %></h2>
  <table>
    <tr><td>Height</td><td><%= data[0].height %> cm</td></tr>
    <tr><td>Weight</td><td><%= data[0].weight %> kg</td></tr>
    <tr><td>Team</td><td><a href="/team/<%= data[0].team_id %>"><%= data[0].team_name %></a></td></tr>
    <tr><td>Position</td><td><%= data[0].position %></td></tr>
    <td><a href="/">Home</a></td>
  </table>
</body>
</html>